#APP
APP_PORT=8000
IS_PROD=false
JWT_SECRET=
JWT_EXPIRES_IN=

#DATABASE
DB_USER=YOUR_POSTGRES_USER
DB_PASSWORD=YOUR_POSTGRES_PASSWORD
DB_NAME=
DB_PORT=
DB_HOST=postgres # Use 'postgres' when running with Docker, 'localhost' when running locally



#CACHE
CACHE_HOST=redis # Use 'redis' when running with Docker, 'localhost' when running locally
CACHE_PORT=